<div class="row">
    <div class="col-md-4 col-12 col-sm-6 mb-2" 
    *ngFor="let product of products; let i = index">
        <div class="card match-height">
            <img [src]="product.img" class="card-img-top">
            <div class="card-body">
                <div style="margin-bottom: 40px;">
                    <h5 class="card-title">{{product.name}}</h5>
                    <p class="card-text">Precio: A tan solo <b>${{product.price}} pesitos</b>!</p>
                </div>
                <div style="position: absolute; right: 5px; bottom: 5px;">
                    <button 
                    class="btn btn-primary"
                    (click)="showProductDetails(product.id, i)">ver más</button>
                </div>
            </div>
        </div>
    </div>
</div>
