<div class="container mt-3 text-center">
    <h1>{{title}}</h1>
    <p>
        Bienvenidos a mi tiendita.  
        Siga mi doña, mire sin compromiso
    </p>
</div>
<div class="container">
    <div class="mb-2">
        <button 
        class="btn btn-primary" 
        (click)="onClickButton()">{{btnText}}</button>
    </div>

    <div>
        <select 
        class="form-select"
        [disabled]="disabled">
            <option value="1">Opción 1</option>
            <option value="1">Opción 2</option>
            <option value="1">Opción 3</option>
        </select>
    </div>

    <div class="mt-4">
        <label>Texto en el input</label>
        <input class="form-control" type="text" [(ngModel)]="inputText">
        <p class="mt-2">Valor de la variable <b>inputText</b>: {{inputText}}</p>
    </div>
</div>


